<section>
    <div class="contProd">
        <div class="contImg">
            <img src="../../../assets/productos/{{producto.imagen}}" alt="Pantalon negro">
        </div>
        <div class="contInfoProd">
            <div class="tituloProd">
                <h3>{{producto.nombre}}</h3>
            </div>
            <div class="descProd">
                <p>{{producto.descripcion}}</p>
            </div>
            <div class="precio">
                <b>Precio: ${{producto.precio}}</b>
            </div>
            <div class="agregar">
                <div class="cant">
                    <b>Cantidad: </b>
                    <input type="number">
                </div>
                <div class="boton">
                    <button>Agregar al Carrito</button>
                </div>
            </div>
        </div>
    </div>
</section>
