<section>
    <div class="contImg">
        <img src="../../../assets/imagenes/inicio.jpg" alt="Ropa">
    </div>
    <div class="contTit">
        <h1>{{titulo}}</h1>
    </div>
    <div class="contProd">
        <div *ngFor='let prod of ListaDetalles | async' class="cardProd">
            <div class="contImgProd">
                <img src="../../../assets/imagenes/pantalon-negro.jpg" alt="Producto">
            </div>
            <div class="contCardInfo">
                <div class="info">
                    <div class="infoTit">
                        <b>{{prod.nombre}}</b>
                    </div>
                    <div class="infoCa">
                        <p><b>Precio: </b></p>
                        <p><b>Cantidad: </b></p>
                    </div>
                    <div class="infoPrec">
                        <b>Precio Total: $80.00</b>
                    </div>
                </div>
                <div class="contElim">
                    <a>Eliminar Producto</a>
                </div>
            </div>
        </div>
    </div>
    <div class="infoCar">
        <div class="contPriInfoCar">
            <div class="contInCaInfo">
                <p>Cantidad de productos: 4</p>
                <p>Cantidad Total de Productos: 11</p>
                <p>Impuestos: $0.00</p>
                <p>Precio sin impuestos: $547.00</p>
                <b class="precioTot">Precio Total: $557.04</b>
            </div>
            <div class="contBot">
                <button type="button" class="aceptar">Aceptar Compra</button>
                <button type="button" class="cancelar">Cancelar y vaciar carrito</button>
            </div>
        </div>
    </div>
</section>
